html, body {
  margin: 0;
  padding: 0;
}

.App {
  font-family: sans-serif;
  width: 100vw;
  min-width: 100vw;
  min-height: 100vh;
  padding: 1em;
  position: relative;
  color: #000;
}

.bg {
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
  background-color: #000;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  opacity: 0.01;
  animation: bg-loop1 5s infinite, bg-loop2 60s infinite;
}

@media (min-width: 1466px) {
  .bg {
    background-size: 150vw auto;
  }
}

.myname {
  text-shadow: 2px 2px rgba(60, 60, 60, 0.2);
}

.social-links a {
  font-size: 2.5em;
  color: #007bff;
  text-decoration: none;
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 50%;
  border-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
}

.social-links a:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23009bff' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  text-decoration: none;
  animation: social-links-loop1 2s infinite;
}

.line1 {
  height: 1px;;
  border-left: 90vw solid #007bff;
  animation: line-loop1 2s 1;
  margin-bottom: 5px;
}


.ocean { 
  height: 5%;
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
  background: #01c8f1;
  z-index: -1;
}

.footer {
  position: absolute;
  color: #666;
  bottom: 0;
  left: 1em;
  font-size: 0.5em;
}

@keyframes line-loop1 {
  0% { border-left: 0 solid #007bff; }
  100% { border-left: 80vw solid #007bff; }
}

@keyframes social-links-loop1 {
  0% { padding-left: 10px; padding-right: 10px; }
  23% { padding-left: 20px; padding-right: 0; }
  69% { padding-left: 0; padding-right: 20px; }
  92% { padding-left: 10px; padding-right: 10px; }
}

@keyframes bg-loop1 {
  0% { opacity: 0.01 }
  10% { opacity: 0.01; }
  50% { opacity: 0.10; }
  90% { opacity: 0.01; }
  100% { opacity: 0.01; }
}

@keyframes bg-loop2 {
  0%   { background-position: 100% 100%; }
  50% { background-position: 0% 0%; }
  100% { background-position: 100% 100%; }
}